src/main/mule/orderjourney-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="orderjourney-sys-drivinglicence-apiFlow" doc:id="b37808c1-1207-4794-ba42-3780cfcd6b88" >
		<http:listener doc:name="Listener" doc:id="18cd6634-a43f-4f11-b175-fa316e757042" />
		<logger level="INFO" doc:name="Logger" doc:id="69630a9b-e96b-4719-9942-75348da16d8e" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8ef0bf78-2228-4f0b-a3f9-1aca7e198e6f" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="0ca58485-2baf-460c-adb9-fd5e48e9cf22" />
		<salesforce:create type="" doc:name="Create" doc:id="bd275644-8e5b-401d-9892-30bcf53d6f97" />
		<logger level="INFO" doc:name="Logger" doc:id="0f4a6734-ca82-4386-a4b2-9f9714ab6fc6" />
		<ee:transform doc:name="Transform Message" doc:id="c7d64a0d-5ca9-4e00-bdc1-9c339b0134d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
